PORT=4000
MONGO_URI=mongodb+srv://juanignacio295:Wachi@0838@gotaxi-dev.9zdl0gh.mongodb.net/?retryWrites=true&w=majority&appName=gotaxi-dev
JWT_SECRET=CAMBIA_ESTO_POR_UN_SECRETO
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@gotaxi.com
ADMIN_PASSWORD=admin123
MP_ACCESS_TOKEN=TU_ACCESS_TOKEN_MERCADOPAGO
BASE_URL=http://localhost:4000
EMAIL_HOST=smtp.gmail.com
EMAIL_USER=usuario@dominio.com
EMAIL_PASS=tu_password
